* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-image: url("../imgs/fondo.webp");
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;

  padding: 50px 10px;
  @media screen and (min-width: 576px) {
    padding: 75px 100px;
  }
}

/* Formulario */

#Tabla,
#contenedor_formulario_card {
  opacity: 0.9;
}
#preview {
  width: 80%;
  max-width: 100px;
  aspect-ratio: 1/1;
  object-position: top;
  object-fit: cover;
  margin: auto;
  display: block;
  @media screen and (min-width: 768px) {
    width: 60%;
  }
}

/* Tabla de Participantes */
#Tabla {
  max-width: 800px;
  height: 500px;
  @media screen and (min-width: 768px) {
    height: 100%;
  }
}
#Animales {
  height: 100%;
  max-height: 430px;
  overflow-y: auto;
  background: #f0f0f0;
}

#Animales div div {
  transition: all 200ms;
}

#Animales div > div:hover:not(.animal_insertado_close) {
  box-shadow: 0px 1px 5px 1px;
}

.participante {
  max-width: 30%;
}

#comentarios {
  resize: none;
}

/* Modal */

/*.modal-dialog {
  max-width: 85% !important;
}*/
.modal-body {
  color: white;
  text-align: center;
}

.modal-body img {
  width: 70%;
  max-width: 300px;
  aspect-ratio: 1/1;
  object-fit: cover;
  margin: auto;
  display: block;
}
.modal-body_comentarios_contenido {
  height: 5rem;
  overflow-y: auto;
  word-wrap: break-word;
  width: 100%;
}
.modal-body_comentarios_titulo {
  text-decoration: underline;
}

/*
Estilos Imagenes Insertadas al Area
*/
.animal_insertado {
  width: 100px;
  position: relative;
  height: fit-content;
}

.animal_insertado_close {
  position: absolute;
  top: -10px;
  right: -10px;
  color: white;
  cursor: pointer;
}

.animal_insertado img {
  object-fit: cover;
  width: 100%;
  aspect-ratio: 1/1;
  cursor: pointer;
}
.animal_insertado button {
  width: 100%;
  background-color: #eee;
  border: 0;
}
.animal_insertado button:hover {
  background-color: green;
  color: white;
}
.contenedor_animales {
  gap: 10px;

  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}
